/**
 * FONT FACE
 */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('https://rsms.me/inter/inter.css');
}

/**
 * VARIABLES
 */
:root {
  --color-light: #FFE5D9;
  --color-dark: #6D6875;
  --metric-gutter: 1.5rem;
  --measure: 60ch;
  --font-base-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-heading-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

/**
 * GLOBAL STYLES
 */
* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

nav li {
  list-style: none;
}

/**
 * BOX
 */
.box {
  padding: var(--metric-gutter);
  border: var(--border-thin) solid;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  color: inherit;
}

.box__invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/**
 * CLUSTER
 */
.cluster {
  --space: 1rem;
  overflow: hidden;
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--space) / 2);
}
  
